@font-face {font-family: 'Butler Stencil';
src: url('ButlerStencil-Medium.woff2') format('woff2'),
    url('ButlerStencil-Medium.woff') format('woff');
font-weight: 500;
font-style: normal;
}

body {
  margin: 0;
  font-family: Helvetica,"Hiragino Kaku Gothic ProN";
}

a {
  text-decoration: none;
}

header {
  height: 65px;
  width: 100%;
  background-color: rgba(170, 170, 170, 0.8);
  position: fixed;
  top: o;
  z-index: 10;
}

.head-left {
  float: left;
}

.head-right {
  float: right;
  background-color: rgba(255, 255, 255, 0.3);
  transition: all 1s;
}

.head-right a {
  color: white;
  transition: all 1s;
  display: block;
  line-height: 65px;
  padding: 0 40px;
  font-size: 16px;
}

.head-right:hover {
  background-color: rgba(255, 255, 255, 0.85);
}

.head-right a:hover {
  color: rgb(100, 100, 100);
}

.wrapper {
  width: cover;
  margin: 0;
  padding: 0;
}

.top {
  background-image: url(fernando-reyes-isx_pjreCGk-unsplash.jpg);
  background-size: cover;
  background-position: bottom 0px right 0;
  height: 100vh;
  padding-top: 70px;
  margin: 0;
}

.top-cont {
  width: auto;
  padding-bottom: 0px;
  display: flex;
}

.top-left {
  width: 700px;
  padding-left: 80px;
}

.top-img {
  width: 700px;
}

.top-right {
  width: 400px;
  margin-top: 200px;
}

.title {
  color: #ff0011;
  font-family: 'Butler Stencil';
  font-size: 55px;
  font-weight: normal;
  padding-left: 0px;
  letter-spacing: 4px;
}

.name {
  font-family: 'Butler Stencil';
  font-weight: normal;
  padding-left: 1px;
}

.bottom {
  text-align: center;
}

.scroll {
  font-weight: bold;
  padding-top: 0px;
}

.triangle {
  width: 0px;
  height: 0px;
  background: transparent;
  border-top: 12px solid black;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  margin: 0 auto;
}

.contents {
  text-align: center;
  padding: 80px 0;
}

.contents h2 {
  font-family: 'Butler Stencil';
  font-size: 34px;
  font-weight: normal;
}

.content {
  padding-top: 40px;
}

footer {
  text-align: center;
  color: #999;
  font-size: 14px;
  padding-bottom: 25px;
}
